.flex{
    display: flex;
}

.block{
    display: block;
}

.displayNone{
    display: none;
}

.alignItemCenter{
    align-items: center;
}

.spaceBetween{
    justify-content: space-between;
}
.maxContent{
    width: max-content;
}

.center-h{
    justify-content: center;
}

.center-v{
    align-items: center;
}

.cursorPointer{
    cursor: pointer;
}

.gap-10{
    gap: 10px;
}

.gap-30{
    gap: 30px;
}

.absolute{
    position: absolute;
}

.fixed{
    position: fixed;
}

.relative{
    position: relative;
}

.overflow-y{
    overflow-y: auto;
}

.Allwindow-y{
    height: 80vh;
}

.Allwindow-x{
    width: 100vw;
}