/* ---------------- Reset all styles --------*/
* {
    margin: 0;
    padding: 0;
  }
body{
  background-color: rgb(228, 228, 253);
}

/* ---------------- Header --------*/

/* ---------------- Header Top --------*/

.header__top{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.header__top__logo{
  display: flex;
  align-items: center;
  margin-right: 90px;
}

.header__top__logo__burger{
  font-size: 22px;
  font-weight: bolder;
  padding: 12px;
  margin: 4px;
}

.googleContactLogo{
  width: 40px;
  margin-right: 4px;
}

.header__title{
  color: #5f6368;
  font-size: 24px;
}
.icon__colorGrayheaderTop{
  color: #5f6368;
}


.header__top__searchBar{
  display: flex;
  align-items: center;
}

.header__top__searchBar__input{
  border: none;
  background-color:#f0f3f4;
  padding: 15px;
  margin-right: 20px;
  border-radius: 0px 10px 0px 0px;
  width: 300px;
  outline: none;
}


.header__top__searchBar__btnSearch{
  background-color: #f0f3f4;
  padding: 10px;
  font-size: 25px;
  border-radius: 10px 0px 0px 0px;
}

.header__top__icons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__top__icons{
  font-size: 22px;
}

/* ---------------- Header Left --------*/

.header__left__creatContact{
  display: flex;
  align-items: center;
  gap : 10px;
  background-color: #c1e7f5;
  padding: 15px;
  margin-left: 10px;
  border-radius: 16px;
  width: max-content;
  box-shadow: rgba(0, 0, 0, 0.23) 1px 1px 2px;
}

.header__left__creatContact{
  margin-bottom: 25px;
}
.header__left__creatContact__btnPlus{
  font-size: 25px;
}

.header__left__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c1e7fe;
  width: 200px;
  padding: 15px;
  margin-left: 10px;
  border-radius: 25px;
}

.header__left__item2{
  gap : 10px;
  display: flex;
  align-items: center;
  width: 200px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 25px;
}

.header__left__update__title{
  margin: 20px 0px 20px 15px;
  font-weight: bold;
}
.header__left__update__item{
  display: flex;
  gap : 10px;
  align-items: center;
  width: 200px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 25px;
}

.header__left__libelles__title{
  margin: 20px 0px 20px 15px;
  font-weight: bold;
}

.header__left__libelle__item{
  display: flex;
  gap : 10px;
  align-items: center;
  width: 200px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 25px;
}