/* ---------------- Reset all styles --------*/
* {
    margin: 0;
    padding: 0;
  }
body{
  background-color: rgb(228, 228, 253);
}

/* ---------------- Header --------*/

/* ---------------- Header Top --------*/

.header__top{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.header__top__logo{
  display: flex;
  align-items: center;
  margin-right: 90px;
}

.header__top__logo__burger{
  font-size: 22px;
  font-weight: bolder;
  padding: 12px;
  margin: 4px;
}

.googleContactLogo{
  width: 40px;
  margin-right: 4px;
}

.header__title{
  color: #5f6368;
  font-size: 24px;
}
.icon__colorGrayheaderTop{
  color: #5f6368;
}


.header__top__searchBar{
  display: flex;
  align-items: center;
}

.header__top__searchBar__input{
  border: none;
  background-color:#f0f3f4;
  padding: 15px;
  margin-right: 20px;
  border-radius: 0px 10px 10px 0px;
  width: 300px;
  outline: none;
}


.header__top__searchBar__btnSearch{
  background-color: #f0f3f4;
  padding: 10px;
  font-size: 25px;
  border-radius: 10px 0px 0px 10px;
}

.header__top__icons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__top__icons{
  font-size: 22px;
}

/* ---------------- Header Left --------*/

.header__left{
  margin-right: 32px;
}

.header__left__creatContact{
  display: flex;
  align-items: center;
  gap : 10px;
  background-color: #c1e7f5;
  padding: 15px;
  margin-left: 10px;
  border-radius: 16px;
  width: max-content;
  cursor: pointer;
}

.header__left__creatContact:hover{
  box-shadow: rgba(0, 0, 0, 0.23) 1px 1px 2px;
}

.creatAction{
  background-color: white;
  width: max-content;
  box-shadow: rgba(19, 19, 19, 0.358) 1px 1px 2px;
  border-radius: 5px;
  margin-left: 10px;
  z-index: 1;
  position: absolute;
  display: none;
}

.creatAction div {
  padding: 10px 15px 15px 15px;
}

.creatAction div:hover{
  background-color: #c4c7ca;
  cursor: pointer;
}
.header__left__creatContact__btnPlus{
  font-size: 25px;
}

.header__left__list{
  margin-top: 25px;
}

.header__left__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c1e7fe;
  width: 200px;
  padding: 15px;
  margin-left: 10px;
  border-radius: 25px;
}

.header__left__item2{
  gap : 10px;
  display: flex;
  align-items: center;
  width: 200px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 25px;
}

.header__left__update__title{
  margin: 20px 0px 20px 15px;
  font-weight: bold;
}
.header__left__update__item{
  display: flex;
  gap : 10px;
  align-items: center;
  width: 200px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 25px;
}

.header__left__libelles__title{
  margin: 20px 0px 20px 15px;
  font-weight: bold;
}

.header__left__libelle__item{
  display: flex;
  gap : 10px;
  align-items: center;
  width: 200px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 25px;
}

/* ---------------- Container --------*/

.Container{
  display: flex;
}

/* ---------------- Main --------*/

.main{
  background-color: white;
  width: 79vw;
  margin-right: 1.5%;
  padding: 30px 20px 0px 20px;
  border-radius: 30px;
}

.listContact{
  display: none;
}

.main__title{
  font-weight: normal;
  color: #46484b;
  margin-bottom: 10px;
  font-size: 28px;
}

.main__content{
  width: 100%;
}

.main__content__title{
  display: flex;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.main__content__title__item{
  width: 25%;
}

.main__content__title__item2{
  width: 15%;
  max-width: 150px;
  display: flex;
  justify-content: space-between;
}

.main__content__collection{
  margin-bottom: 15px;
}

.main__content__item{
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.main__content__libellesContainer{
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.main__content__libelles{
  padding: 4px;
  border: 1px solid gray;
  border-radius: 10px;

}

.main__content__item__i{
  width: 25%;
}

.main__content__item__image{
  display: flex;
  align-items: center;
  gap: 5px;
}

.main__content__item__picture{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: darkblue;
  border-radius: 50%;
  color: white;
}